<%@title = "Sobre nosotros"%>
<article class="desktop-wrapper col-s-10 col-md-11">
  <hr class="separador-desktop">
  <div class="content-wrapper row">
    <div class="title-wrapper col-s-12 col-md-6">
      <h1>Sobre Alex</h1>
      <hr class="separador-mobile">
    </div>
    <div class="body-text col-s-12  col-md-6">
      <p>Somos una empresa familiar con base en Montevideo dedicada a la venta y servicios de aire acondicionado, y a la electricidad en general. Contamos con más de 10 años de experiencia, desempeñándonos bajo la firma autorizada de UTE.
Nuestro objetivo es solucionar los problemas de climatización y electricidad mediante un servicio de calidad que transmite confianza.</p>
    </div>
  </div>

</article>
