<article class="row">
  <div class="photo-slider-img-wrapper">
    <%=image_tag "Imagen-noticia.jpg", alt: "imagen alex", class: "photo-slider-img"%>
  </div>
  <div class="col-s-10">
    <div class="content-wrapper services-body">
      <h2>INFORMACIÓN DE CONTACTO</h2>
      <p class="body-text">Calle Principal 1234
        <br> Barrio, Montevideo, Uruguay</p></br>
      <p class="body-text">E-mail: info@alex.com.uy</p>
    </div>
  </div>
</article>
