<section id="cover">

</section>
<section id="short-description" class="col-xs-10">
  <div id="description-text"><p>ALEX ES UNA EMPRESA DEDICADA A LA ELECTRICIDAD EN GENERAL Y A LA INSTALACIÓN Y MANTENIMIENTO DE EQUIPOS DE AIRE ACONDICIONADO.</p></div>
  <%=link_to 'SABER MÁS', about_path , class: "button"%>
</section>

<section id="news-slider">

</section>
