<section class="row">
  <section id="cover" class="cover col-s-12 row">
    <section id="icon">
      <img src="logo.svg" alt="Logo de alex"/>
    </section>
  </section>
  <section id="short-description" class="col-s-12 row">
    <div id="description-text" class="col-s-9"><p>ALEX ES UNA EMPRESA DEDICADA A LA ELECTRICIDAD EN GENERAL Y A LA INSTALACIÓN Y MANTENIMIENTO DE EQUIPOS DE AIRE ACONDICIONADO.</p></div>
    <div id="button" class="col-s-9" ><%=link_to 'SABER MÁS', about_path , class: "button"%></div>
  </section>

  <section id="news-slider">

  </section>
</section>
