<%@title = "Editar publicación"%>
<section class="row content-wrapper desktop-wrapper">
  <div class="title-wrapper col-s-10 col-md-11">
    <hr class="separador-desktop">
    <h1>Editar publicación</h1>
    <hr class="separador-mobile">
  </div>
  <%= render partial: 'form', locals:{publication: @publication} %>
</section>
